.header {
	width: 100%;
	background: linear-gradient(90deg, $color-white-smoke 0%, $color-white-smoke 30%, $color-white 100%);

	&--auth {
		background: $color-white;
		
		.header__wrapper {
			display: flex;
			justify-content: center;
			padding: 40px 0 0 0;
		}

		+ main {
			margin: 0;
			background: $color-white;
		}
	}

	&__wrapper {
		display: grid;
    	grid-template-columns: 289px 1fr 246px;
		height: 69px;
		align-items: end;
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		height: 100%;
	}

	&__title {
		font-family: $ff-erica-one;
	}
}