.header__wrapper {
	display: grid;
    grid-template-columns: 289px 1fr 246px;
	height: 69px;
	align-items: end;
	margin-bottom: 35px;
}

.header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	height: 100%;
}

.header__title {
	font-family: $ff-erica-one;
}