/*
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.woff2") format("woff2"),
    url("../fonts/NotoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
  */

@font-face {
  font-family: 'EricaOne';
  src: url('./fonts/EricaOne-Regular.ttf')
}

@font-face {
  font-family: 'Actor';
  src: url('./fonts/Actor-Regular.ttf') 
}