// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-nero: #171717;
$color-burnt-orange: #FC6D3E;
$color-white-smoke: #F5F5F5;
$color-dark-gray: #A4A4A4;
$color-dark-gray2: #AAAAAA;
$color-tangaroa: #11253D;

// Typography

$ff-actor: 'Actor', "Arial", sans-serif;
$ff-erica-one: "EricaOne", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Transition
$transition: ease-in 0.3s;
