.main-page-wrapper {
    display: grid;
    grid-template-columns: 289px 1fr;
    min-height: calc(100vh - 69px);
    margin: 0 0 100px;
    transform: translateY(95%);
    transition: transform $transition-animation;

    &--player-on {
        margin: 0;

        +.player .player__super-wrapper {
            transform: translateY(0);
            opacity: 1;
            transition: transform $transition;
        }
    }

    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &--animated {
        transform: translateY(0);
    }
}