@font-face {
  font-family: 'EricaOne';
  src: url('./global/fonts/EricaOne-Regular.ttf')
  // Надо подключать шрифты от main.scss, a не от _fonts.scss
}

@font-face {
  font-family: 'Actor';
  src: url('./global/fonts/Actor-Regular.ttf') 
}