.sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 46px;
    background-color: $color-white-smoke;
    gap: 12px;

    @media (max-width: 900px) {
        flex-direction: row-reverse;
        padding-top: 20px;
        background-color: transparent;
        gap: 19px;
        justify-content: flex-end;
    }

    &__title {
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0;
        text-align: start;

        @media (max-width: 900px) {
            font-size: 14px;
            line-height: 12px;
            letter-spacing: 0.01em;
        }
    }
}