.header {
	width: 100%;
	background: transparent;
	transform: translateX(-100%);
	transition: transform $transition-animation;

	&--auth {
		transition: transform $transition-animation;
		
		.header__wrapper {
			display: flex;
			justify-content: center;
			padding: 40px 0 0 0;
		}

		+ main {
			margin: 0;
		}
	}

	&--animated {
		transform: translateX(0);
	}

	&__user {
		padding: 0 10px;
		display: grid;
		grid-template-columns: 56px 1fr 16px;
		height: 52px;
		border-radius: 30px;
		align-items: center;
		font-size: 14px;
		line-height: 12px;
		letter-spacing: 0.01em;
		font-family: $ff-actor;
		background-color: $color-white-smoke;
		transform: scale(1);
		transition: transform $transition;
		user-select: none;
	}

	&__wrapper {
		display: grid;
    	grid-template-columns: 289px 1fr 246px;
		height: 69px;
		align-items: end;
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		height: 100%;
	}

	&__title {
		font-family: $ff-erica-one;
	}
}