.modal-window {
    width: 400px;
    height: 80px;
    border-radius: 10px;
    background-color: $color-spring-green;
    position: absolute;
    top: 75px;
    left: 70%;
    display: flex;
    padding: 10px 25px;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    color: $color-green-pea;
    pointer-events: none;
    opacity: 0;
    animation: appearance-and-fade 5s linear forwards;

    @media (max-width: 1350px) {
        left: 65%;
    }

    @media (max-width: 1150px) {
        left: 60%;
    }

    @media (max-width: 1020px) {
        left: 50%;
    }

    @media (max-width: 900px) {
        height: 60px;
        top: 85px;
    }

    @media (max-width: 840px) {
        left: 45%
    }

    @media (max-width: 740px) {
        left: 40%
    }

    @media (max-width: 685px) {
        left: 30%
    }

    @media (max-width: 590px) {
        left: 20%
    }

    @media (max-width: 520px) {
        left: 10%
    }

     @media (max-width: 460px) {
        left: 10px;
        width: 340px;
    }

    &--none {
        display: none;
    }

    &--success {
        animation: appearance 5s linear forwards;
    }

    &--success-fade {
        opacity: 1;
        animation: fade 5s linear forwards;
    }

    &--fail {
        background-color: $color-mona-lisa;
        color: $color-maroon;
    }

    @keyframes appearance-and-fade {
        from {
            opacity: 0;
        } 20% {
            opacity: 1;
        } 90% {
            opacity: 1;
        } to {
            opacity: 0;
        }
    }

    @keyframes appearance {
        from {
            opacity: 0;
        } 10% {
            opacity: 1;
        } to {
            opacity: 1;
        }
    }

    @keyframes fade {
        from {
            opacity: 1;
        } 90% {
            opacity: 1;
        } to {
            opacity: 0;
        }
    }




}