.player {
    height: 100px;
    width: 100vw;
    background-color: $color-white;
    position: fixed;
    bottom: 0;
    right: -142px;
    border-top: 1px solid $color-mercury;
    padding: 20px 30px;
    gap: 20px;
    display: grid;
    grid-template-columns: 434px 1fr 97px;
    align-items: end;
    transform: translateY(100px);
    transition: transform $transition;

    &__wrapper {
        padding: 0 0 0 8px;
        display: flex;
        gap: 10px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: flex-start;
    }

    &__title {
        display: flex;
        gap: 12px;
        align-items: center;
        height: 24px;
    }

    &__name {
        line-height: 12px;
    }

    &__artist {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: $color-dark-gray2
    }

    &__range-wrapper {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    &__duration-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }

    &__output,
    &__duration {
        font-size: 11px;
        line-height: 1;
        letter-spacing: 0.015em;
        color: $color-dark-gray2;
    }

    &__buttons {
        height: 40px;
        width: 184px;
        display: flex;
        gap: 20px;
    }

    &__range {
        appearance: none;
        height: 4px;
        min-width: 681px;
        background: $color-mercury;
        border-radius: 50px;
        overflow: hidden;

        &::-webkit-slider-thumb {
            height: 6px;
            width: 12px;
            appearance: none;
            background: $color-burnt-orange;
            cursor: pointer;
            border-radius: 50px;
            box-shadow: -341px 0 0 335px $color-burnt-orange;
            border: 0;
        }

        &::-moz-range-thumb {
            height: 6px;
            width: 12px;
            appearance: none;
            background: $color-burnt-orange;
            cursor: pointer;
            border-radius: 50px;
            box-shadow: -341px 0 0 335px $color-burnt-orange;
            border: 0;
        }
    }

    &__volume {
        display: flex;
        gap: 9px;
        height: 16px;
        align-items: center;
        position: relative;
    }

    &__range-volume {
        width: 72px;
        appearance: none;
        height: 4px;
        background: $color-mercury;
        border-radius: 50px;

        &::-webkit-slider-thumb {
            box-sizing: border-box;
            height: 12px;
            width: 12px;
            appearance: none;
            background: $color-burnt-orange;
            cursor: pointer;
            border-radius: 50%;
            z-index: 1;
        }

        &::-moz-range-thumb {
            box-sizing: border-box;
            height: 12px;
            width: 12px;
            appearance: none;
            background: $color-burnt-orange;
            cursor: pointer;
            border-radius: 50%;
            z-index: 1;
        }
    }

    &__level {
        max-width: 72px;
        width: 36px;
        height: 4px;
        background-color: $color-burnt-orange;
        position: absolute;
        top: 8px;
        display: flex;
        left: 25px;
        border-radius: 6px;
        transform: translateY(-50%)
    }
}