.register-form,
.auth-form {
    width: 100%;
    padding: 200px 220px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    transform: translateX(95%);
    transition: transform $transition-animation;

    @media (max-width: $vp-mobile) {
        padding: 200px 120px;
    }

    @media (max-width: 512px) {
        padding: 200px 50px;
    }

    @media (max-width: 432px) {
        gap: 36px;
        padding: 200px 50px;
    }

    &--animated {
        transform: translateX(0)
    }
}