.button {
	border: none;
	background-color: transparent;

	.main-table__cell {
		padding: 0;
	}

	&__user {
		padding: 0 10px;
		display: grid;
		grid-template-columns: 56px 1fr 16px;
		height: 52px;
		border-radius: 30px;
		align-items: center;
		font-size: 14px;
		line-height: 12px;
		letter-spacing: 0.01em;
		font-family: inherit;
		background-color: $color-white-smoke;
		transform: scale(1);
		transition: transform $transition;

		&:hover,
		&:focus-visible {
			transform: scale(1.1)
		}
	}

	&__aside {
		display: flex;
		padding: 9px 30px;
		gap: 12px;
		justify-content: flex-start;
		align-items: center;
		transition: background-color $transition;

		&:hover,
		&:focus-visible {
			background-color: $color-burnt-orange-25;
		}

		&--active,
		&--active:hover,
		&--active:focus-visible {
			background-color: $color-white;
		}
	}

	&__play {
		display: grid;
		grid-template-columns: 40px 1fr 262px 195px;
		transition: background-color $transition;
		padding: 0;

		.main-table__cell {
			padding: 14px 0 14px 8px;
		}

		&:hover,
		&:focus-visible {
			background-color: $color-burnt-orange-25;
		}
	}

	&__favourite {
		.main-table__cell {
			justify-content: center;
		}

		&:hover .heart-icon,
		&:hover .heart-icon--favourite {
			transform: scale(1.4)
		}
	}

	&__settings {
		.main-table__cell {
			justify-content: center;
		}

		&:hover .settings-icon {
			transform: scale(1.25);
			color: $color-burnt-orange;
		}
	}

	&__shuffle,
	&__back,
	&__playSong,
	&__next,
	&__repeat {
		padding: 0;
	}

	&__shuffle:hover .shuffle-icon,
	&__back:hover .back-icon,
	&__next:hover .next-icon,
	&__repeat:hover .repeat-icon {
		color: $color-burnt-orange;
	}

	&__playSong:hover .svg-playSong {
		background-color: $color-burnt-orange;
	}
}
