.button__search {
	padding: 0 10px;
	display: grid;
	grid-template-columns: 56px 1fr 16px;
	border: none;
	height: 52px;
	border-radius: 30px;
	align-items: center;
	font-size: 14px;
	line-height: 12px;
	letter-spacing: 0.01em;
	font-family: inherit;
	background-color: $color-white-smoke;
}

.button__title {
	text-align: start;
}

.button__aside {
	display: flex;
	padding: 9px 30px;
	gap: 12px;
	justify-content: flex-start;
	align-items: center;
	border: none;
	background-color: $color-white-smoke;

	&--active {
		background-color: $color-white;
	}

	.button__title {
		font-size: 20px;
		line-height: 100%;
		letter-spacing: 0;
	}
}