.button {
	border: none;
	background-color: transparent;

	.main-table__cell {
		padding: 0;
	}

	&__aside {
		display: flex;
		padding: 9px 30px;
		gap: 12px;
		justify-content: flex-start;
		align-items: center;
		transition: background-color $transition;

		&:hover,
		&:focus-visible {
			background-color: $color-burnt-orange-25;
		}

		&--active,
		&--active:hover,
		&--active:focus-visible {
			background-color: $color-white;
		}
	}

	&__play {
		display: grid;
		grid-template-columns: 40px 1fr 262px 195px;
		transition: background-color $transition;
		padding: 0;

		.main-table__cell {
			padding: 14px 0 14px 8px;
		}

		&:hover,
		&:focus-visible {
			background-color: $color-burnt-orange-25;
		}
	}

	&__favourite {
		.main-table__cell {
			justify-content: center;
		}

		&:hover .heart-icon,
		&:hover .heart-icon--favourite,
		&:focus-visible .heart-icon,
		&:focus-visible .heart-icon--favourite {
			transform: scale(1.4)
		}
	}

	&__settings {
		.main-table__cell {
			justify-content: center;
		}

		&:hover .settings-icon,
		&:focus-visible .settings-icon {
			transform: scale(1.25);
			color: $color-burnt-orange;
		}
	}

	&__shuffle,
	&__back,
	&__playSong,
	&__next,
	&__repeat {
		padding: 0;
	}

	&__shuffle:hover .shuffle-icon,
	&__back:hover .back-icon,
	&__next:hover .next-icon,
	&__repeat:hover .repeat-icon,
	&__shuffle:focus-visible .shuffle-icon,
	&__back:focus-visible .back-icon,
	&__next:focus-visible .next-icon,
	&__repeat:focus-visible .repeat-icon {
		color: $color-burnt-orange;
	}

	&__playSong:hover .svg-playSong,
	&__playSong:focus-visible .svg-playSong {
		background-color: $color-burnt-orange;
	}

	&__submit {
		border: none;
		padding: 10px 30px;
		border-radius: 20px;
		margin: 0 auto;
		height: 40px;
		color: $color-white;
		background-color: $color-burnt-orange;
	}

	&__link {
		color: $color-burnt-orange;
		text-decoration: underline;
	}
}
