.header__search {
	padding: 15px 0 0 47px;
	margin: 0 30px 0 0;
	position: relative;
	font-size: 12px;
}

.input__search {
	padding: 20px 44px 20px;
	border: none;
	background: linear-gradient(90deg, $color-mercury 0%, $color-white-smoke 100%);
	// background-color: $color-white-smoke;
	color: $color-nero;
	border-radius: 30px;
	// font-size: 12px;
	line-height: 12px;
	width: 100%;
	font-size: inherit;
	letter-spacing: 0.09em;
	height: 52px;
	font-family: inherit;
}

.custom-input {
	display: flex;
	flex-direction: column;
	gap: 3px;
	position: relative;
	width: 100%;

	&__field {
		padding: 25px 15px;
		width: 100%;
		border-radius: 8px;
		height: 40px;
		font-size: 16px;
		background: linear-gradient(90deg, $color-white 0%, $color-white 25%, $color-burnt-orange-25 100%);
		border: 2px solid $color-nero;
		transition: border-color $transition;

		&:hover, 
		&:focus-visible {
			border-color: $color-burnt-orange;

			+ .custom-input__label {
				color: $color-burnt-orange
			}
		}
	}

	&__label {
		font-family: $ff-actor;
		font-size: 14px;
		font-weight: 600;
		user-select: none;
		position: absolute;
		top: -7px;
		left: 20px;
		padding: 0 5px;
		color: $color-black;
		background-color: $color-white;
		transition: color $transition;
	}
}