.svg-search {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 41px;
	left: 59px;
	transform: translateY(-50%);
}

.heart-icon,
.heart-icon--favourite {
	color: $color-burnt-orange;
	transform: scale(1);
	transition: transform $transition;
}

.settings-icon {
	transform: scale(1);
	color: $color-silver;
	transition: color $transition, transform $transition;
}