.button {
	border: none;
	background-color: transparent;

	.main-table__cell {
		padding: 0;
	}

	&--aside {
		display: flex;
		padding: 9px 30px;
		gap: 12px;
		justify-content: flex-start;
		align-items: center;
		transition: background-color $transition;

		&:hover,
		&:focus-visible {
			background-color: $color-burnt-orange-25;
		}

		&--active,
		&--active:hover,
		&--active:focus-visible {
			background-color: $color-white;
		}
	}

	&--play {
		display: grid;
		grid-template-columns: 40px 1fr 262px 195px;
		transition: background-color $transition;
		padding: 0;

		.main-table__cell {
			padding: 14px 0 14px 8px;
		}

		&:hover,
		&:focus-visible {
			background-color: $color-burnt-orange-25;
		}
	}

	&--favourite {
		.main-table__cell {
			justify-content: center;
		}

		&:hover .heart-icon,
		&:hover .heart-icon--favourite,
		&:focus-visible .heart-icon,
		&:focus-visible .heart-icon--favourite {
			transform: scale(1.4)
		}
	}

	&--settings {
		.main-table__cell {
			justify-content: center;
		}

		&:hover .settings-icon,
		&:focus-visible .settings-icon {
			transform: scale(1.25);
			color: $color-burnt-orange;
		}
	}

	&--shuffle,
	&--back,
	&--playSong,
	&--next,
	&--repeat {
		padding: 0;

		&-off .svg-playSong {
			background-color: $color-dark-gray2;
		}
	}

	&--shuffle:hover .shuffle-icon,
	&--back:hover .back-icon,
	&--next:hover .next-icon,
	&--repeat:hover .repeat-icon,
	&--shuffle:focus-visible .shuffle-icon,
	&--back:focus-visible .back-icon,
	&--next:focus-visible .next-icon,
	&--repeat:focus-visible .repeat-icon {
		color: $color-burnt-orange;
	}

	&--playSong:hover .svg-playSong,
	&--playSong:focus-visible .svg-playSong {
		background-color: $color-burnt-orange;
	}

	&--submit {
		border: none;
		padding: 10px 30px;
		border-radius: 20px;
		margin: 0 auto;
		height: 40px;
		color: $color-white;
		background-color: $color-burnt-orange;
		transform: scale(1);
		transition: transform $transition;

		&:hover,
		&:focus-visible {
			transform: scale(1.1);
		}
	}

	&--link {
		color: $color-burnt-orange;
		text-decoration: underline;
		transform: scale(1) translateX(0);
		transition: transform $transition;

		&:hover,
		&:focus-visible {
			transform: scale(1.1) translateX(5px);
		}
	}

	&--pagination {
		border: 1px solid $color-black;
		border-radius: 5px;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: color $transition, background-color $transition, border-color $transition;

		&:hover,
		&:focus-visible {
			color: $color-burnt-orange;
			border-color: $color-burnt-orange;
		}

		&-active {
			background-color: $color-burnt-orange;

			&:hover, 
			&:focus-visible {
				color: $color-black;
			}
		}
	}
}
