.svg-search {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 41px;
	left: 59px;
	transform: translateY(-50%);
}

.heart-icon,
.heart-icon--favourite {
	color: $color-burnt-orange;
	transform: scale(1);
	transition: transform $transition;
}

.settings-icon {
	transform: scale(1);
	color: $color-silver;
	transition: color $transition, transform $transition;
}

.svg-speaker {
	height: 16px;
}

.svg-playSong {
	width: 40px;
	height: 40px;
	background-color: $color-burnt-orange;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: background-color $transition;
}

.playSong-icon {
	position: absolute;
	top: 12.5px;
	left: 15px
}

.shuffle-icon,
.back-icon,
.next-icon,
.repeat-icon {
	transition: color $transition;
}